body {
    box-sizing: border-box;
    background-color: #333;
    margin: 0;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #7e7e7e;
    min-width: 450px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
}

section {
    margin-top: 12px;
    position: relative;
}

section:hover .overlay {
    top: 320px;
    height: 0;
}

h2 {
    color: #aaa;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 6px;
    font-weight: normal;
    border-bottom: 1px #aaa solid;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    font-size: 14px;
    line-height: 17px;
    border-left: 3px #ccc solid;
    padding-left: 10px;
    margin-bottom: 20px;
}

li:nth-child(1) {
    margin-top: 20px;
    border-color: #f6ab2b;
}

li:nth-child(2) {
    border-color: #e8703d;
}

a {
    color: #aaa;
    text-decoration: none;
}

span {
    display: block;
    color: #6c6c6c;
    font-size: 11px;
}